<div class="container">
    <h2>Lista de Filmes</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="viewer">Nome Viewer</th>
          <th class="nome-filme">Nome Filme</th>
          <th class="ano-lancamento">Ano</th>
          <th class="genero">Gênero</th>
          <th class="tempo-duracao">Duração</th>
          <th class="link">Link</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filme of filmes$ | async">
          <td class="viewer">{{ filme.nomeViewer }}</td>
          <td class="nome-filme">{{ filme.filme }}</td>
          <td class="ano-lancamento">{{ filme.ano }}</td>
          <td class="genero">{{ filme.genero }}</td>
          <td class="tempo-duracao">{{ filme.tempoDuracao }}</td>
          <td class="link">{{ filme.link }}</td>
          <td>
            <button (click)="excluirFilme(filme)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
