body {
  height: 100%;
  background-color: var(--cor-principal);
}

.container {
  padding: 90px 25px 40px;
  width: 100%;
  max-width: none !important;
  height: 75vh;  
  overflow: hidden;
}

.lista{
  overflow: auto;
  height: 100%; 
  border-radius: 20px;
}

thead {
  position: sticky;
  top: 0;
  background-color: rgb(192, 44, 230);
  z-index: 2;
}

tbody {
  overflow-y: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  font-size: 30px;
  overflow-y: auto;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin: 4px;
}

th {
  background-color: rgb(192, 44, 230);
  color: white;
  font-family: 'Roboto', sans-serif;
}

tr {
  background-color: rgb(113, 0, 128);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

td {
  color: white;
  font-family:'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 8px; 
  line-height: 1.4; 
}

td, th {
  border: none;
  outline: none;
}

td:not(:last-child), th:not(:last-child) {
  border-bottom: 2px solid #ffffff;
}

h2 {
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  color: white;
  margin-bottom: 60px;
}

th {
  background-color: rgb(192, 44, 230);
  color: white;
  font-family:'Roboto', sans-serif;
  text-align: center; /* Centraliza o texto nas células do cabeçalho */
}

.ano-lancamento,
.tempo-duracao,
.genero {
  max-width: 50px;
  overflow: hidden;
  white-space: nowrap; 
  padding-right: 10px;
  margin-right: 10px;
}


.nome-filme {
  max-width: 80px;
  overflow: hidden; 
  white-space: nowrap; 
  padding-right: 10px;
  margin-right: 10px;
}

.link{
  max-width: 50px;
  overflow: hidden; 
  white-space: nowrap; 
  padding-right: 10px;
  margin-right: 10px;
}

.nota {
  max-width: 50px;
  overflow: hidden; 
  white-space: nowrap; 
  padding-right: 10px;
  margin-right: 10px;
}

.check{
  max-width: 50px;
  overflow: hidden; 
  white-space: nowrap; 
  padding-right: 10px;
  margin-right: 10px;
}

.viewer {
  max-width: 60px;
  overflow: hidden; 
  white-space: nowrap; 
  margin-right: 10px;
}

td.acoes {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden; 
}

.container button.excluir {
  height: 50px;
  min-width: 100px; 
  border-radius: 10px;
  background-color: #d12020;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
}

label{
  font-size: 25px;
  color: white;
  padding-bottom: 10px;
  display: inline-flex;
  justify-content:space-around;
  margin-right: 50px;
  font-family: 'Roboto', sans-serif;
}

.botao-filtro {
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 120px;
  height: 35px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 8px; 
  line-height: 2.0; 
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(85, 29, 94);
  margin-right: 10px
}

.botao-filtro:hover {
  background-color: rgb(141, 26, 122);
}

.avaliacao-celula {
  max-width: 60px;
}

.checkbox {
  width: 50px;
  height: 50px;
}

@media (max-width: 1485px) {
  .container {
    padding: 20px 10px;
    height: 65vh;
  }

  .lista {
    height: 100%;
    width: 100%;
  }
  .table {
    min-width: 100%;
  }

  .filtro label {
    font-size: 18px; /* Ajuste o tamanho da fonte dos rótulos do formulário para telas menores */
  }

  .filtro input,
  .filtro select {
    width: 100%; /* Faça os campos do formulário ocuparem 100% da largura em telas menores */
    margin-bottom: 10px; /* Adicione um espaçamento inferior entre os campos do formulário */
  }

  .botao-filtro {
    width: 105px; /* Faça o botão de filtro ocupar 100% da largura em telas menores */
    margin-top: 10px; /* Adicione um espaçamento superior para o botão de filtro */
  }

  .th {
    font-size: 18px; /* Ajuste o tamanho da fonte para telas menores */
    white-space: nowrap;
    display: block;
  }

  .td {
    font-size: 10px;
    display: block;
  }

  .ano-lancamento,
  .tempo-duracao,
  .genero,
  .link,
  .nome-filme,
  .acoes,
  .check,
  .nota {
    max-width: 30px;
    overflow: hidden; 
    white-space: nowrap; 
    padding-right: 5px;
    margin-right: 5px;
  }
}

.botao-sortear {
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 120px;
  height: 35px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 8px; 
  line-height: 2.0; 
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(85, 29, 94);
}

.botao-sortear:hover {
  background-color: rgb(141, 26, 122);
}
