.header-component {
  background-color: var(--cor-principal);
  min-height: var(--header-height, 500px); 
}


.menu {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.menu ul a {
  font-family: sans-serif;
  text-decoration: none;
  padding: 100px;
  font-size: 40px;
  color: white;
}
