.header-component {
  background-color: var(--cor-principal);
  min-height: var(--header-height, 500px);
}

.menu {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.menu ul {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha em telas menores */
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin: 0 10px; /* Reduza o espaçamento entre os itens do menu em telas menores */
}

.menu ul a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px; /* Reduza o preenchimento dos itens do menu em telas menores */
  font-size: 20px; /* Reduza o tamanho da fonte em telas menores */
  color: white;
  border: 4px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.menu ul a:hover {
  border-color: white;
}

.menu ul a.active {
  border-color: white;
}

.menu ul a:hover,
.menu ul li.active a {
  border-color: white;
}

/* Adaptação para telas menores */
@media (max-width: 768px) {
  .menu {
    padding-top: 20px; /* Reduza o preenchimento do menu em telas menores */
    flex-direction: column; /* Empilhe os itens do menu verticalmente */
  }

  .menu ul li {
    margin: 10px 0; /* Ajuste o espaçamento vertical entre os itens do menu */
  }
}
