<div class="header-component">
  <nav class="menu">
    <ul>
      <li [class.active]="isCurrentPage('/Inicio')">
        <a [routerLink]="['/Inicio']">INICIO</a>
      </li>
    </ul>
    <ul>
      <li [class.active]="isCurrentPage('/ListaFilmes')">
        <a [routerLink]="['/ListaFilmes']">LISTA DE FILMES</a>
      </li>
    </ul>
    <ul>
      <li [class.active]="isCurrentPage('/ListaAutorizar')">
        <a [routerLink]="['/ListaAutorizar']">LISTA PENDENTE</a>
      </li>
    </ul>
    <ul>
      <li [class.active]="isCurrentPage('/CadastroFilme')">
        <a [routerLink]="['/CadastroFilme']">RECOMENDAR FILME</a>
      </li>
    </ul>
  </nav>
</div>