<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control form-control-lg VIEWER" placeholder="NOME VIEWER" aria-label="NOME VIEWER">
      </div>
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control form-control-lg FILME" placeholder="FILME" aria-label="FILME">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control form-control-lg ANO" placeholder="ANO DE LANÇAMENTO" aria-label="ANO DE LANÇAMENTO">
      </div>
      <div class="col-md-6 mb-3">
        <select class="form-select form-control-lg" aria-label="Default select example">
          <option selected disabled>GÊNERO</option>
          <option value="Ação">MASCULINO</option>
          <option value="Ação">FEMININO</option>
          <option value="Ação">OUTRO</option>
          <option value="Ação">GRÊMIO</option>
          <option value="Ação">Ação</option>
          <option value="Aventura">Aventura</option>
          <option value="Cinema de arte">Cinema de arte</option>
          <option value="Chanchada">Chanchada</option>
          <option value="Comédia">Comédia</option>
          <option value="Comédia de ação">Comédia de ação</option>
          <option value="Comédia de terror">Comédia de terror</option>
          <option value="Comédia dramática">Comédia dramática</option>
          <option value="Comédia romântica">Comédia romântica</option>
          <option value="Dança">Dança</option>
          <option value="Documentário">Documentário</option>
          <option value="Docuficção">Docuficção</option>
          <option value="Drama">Drama</option>
          <option value="Espionagem">Espionagem</option>
          <option value="Faroeste">Faroeste</option>
          <option value="Fantasia">Fantasia</option>
          <option value="Fantasia científica">Fantasia científica</option>
          <option value="Ficção científica">Ficção científica</option>
          <option value="Filmes com truques">Filmes com truques</option>
          <option value="Filmes de guerra">Filmes de guerra</option>
          <option value="Mistério">Mistério</option>
          <option value="Musical">Musical</option>
          <option value="Filme policial">Filme policial</option>
          <option value="Romance">Romance</option>
          <option value="Terror">Terror</option>
          <option value="Thriller">Thriller</option>
        </select>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3 quadrado-texto">
          <textarea class="form-control form-control-lg caixa-texto" placeholder="Tempo que tem cena explícita (Ex: 11:38 até 12:02)" aria-label="Texto" rows="5"></textarea>
        </div>
        <div class="col-md-6 mb-3 quadrado-resumo">
          <textarea class="form-control form-control-lg caixa-texto" placeholder="Resumo/Sinopse" aria-label="Texto" rows="5"></textarea>
        </div>
      </div> 
      
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control form-control-lg TEMPO" placeholder="TEMPO DE DURAÇÃO DO FILME (Ex: 1:53:23)" aria-label="TEMPO DE DURAÇÃO DO FILME">
      </div>
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control form-control-lg LINK" placeholder="LINK DE ONDE TÊM O FILME" aria-label="LINK DE ONDE TÊM O FILME">
      </div>
    </div>    
  </div>
  <div class="quadrado-botao">
    <button class="salvar">SALVA AÍ ARROMBADO</button>
  </div>
</body>
