* {
    margin: 0;
  }
  
  html, body { 
    width: 100%;
  }


  :root{
  --cor-inicial: rgb(170, 73, 179);
  --cor-final: rgb(80, 36, 89);
  }
  
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   background: linear-gradient(to right, var(--cor-inicial), var(--cor-final), #ffffff); overflow: auto;}
